<header class="p-3 w-full fixed top-0 z-50 bg-linear-to-r from-pink-300 to-black">
  <div class="flex align-middle items-center px-10 mx-auto gap-6">
    <div class="text-white">
      <a
        routerLink="/"
        routerLinkActive="text-pink-800"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex items-center gap-3 max-h-16 border-r-white border-r-2 pr-6"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-7"
        >
          <path
            d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
          />
        </svg>

        <h3 class="text-2xl font-semibold uppercase">Meet Me</h3>
      </a>
    </div>

    <nav class="flex gap-3 my-2 uppercase text-lg text-white">
      @if (accountService.currentUser()) {
        <a routerLink="/members" routerLinkActive="text-pink-800">Matches</a>
        <a routerLink="/lists" routerLinkActive="text-pink-800">Lists</a>
        <a routerLink="/messages" routerLinkActive="text-pink-800">Messages</a>
      }
    </nav>

    <div class="flex align-middle ml-auto gap-3">
      @if (accountService.currentUser(); as user) {
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="flex items-center text-white text-xl gap-3 cursor-pointer"
          >
            <img src="/user.png" alt="user avatar" class="w-8 h-8 rounded-full" />
            <span>{{ user.displayName }}</span>
          </div>
          <ul
            tabindex="-1"
            class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
          >
            <li><a>Update Profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      } @else {
        <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3">
          <input
            [(ngModel)]="creds.email"
            name="email"
            type="text"
            class="input"
            placeholder="Email"
          />
          <input
            [(ngModel)]="creds.password"
            name="password"
            type="password"
            class="input"
            placeholder="Password"
          />
          <button class="btn">Login</button>
        </form>
      }
    </div>
  </div>
</header>
